In [1]:
# Tuple
# Indexing
# multiple Values
# Imutale

In [2]:
a = (1,2,3,4,5,6)
b = ("Apple","Ball","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
b = ("Apple","Ball","Cat")
print(b[0:3])

('Apple', 'Ball', 'Cat')

In [4]:
b = ("Apple","Ball","Cat")
a = ("Dog","Cat")
c = a+b
c

('Dog', 'Cat', 'Apple', 'Ball', 'Cat')

In [5]:
b = ("Apple","Ball","Cat")
b*2

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [6]:
# No append() insert() extend()
# No del pop() remove()
# No update()
# No sort

In [7]:
 a = ("Apple",)  #coma is compulsary in single value in tuple
type(a)

tuple

In [9]:
a = tuple()
b = "Apple"
a = a+(b,)
a

('Apple',)

In [10]:
a = tuple()
b = "Apple"
c = "Ball"
a = a+(b,)
a = a+(c,)
a

('Apple', 'Ball')

In [11]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter n = "))
    t = t+(x,)
print(t)

Enter n = 5
Enter n = 10
Enter n = 15
Enter n = 20
Enter n = 25
Enter n = 30
(10, 15, 20, 25, 30)

In [1]:
a = ("Ram","syam","HAri")
for i in a:
    print(i)

Ram
syam
HAri

In [2]:
a = ("ram","shyam","Hari")
if "ram" in a:
    print("yes")

yes

In [3]:
a = ("ram","shyam","Hari")
sorted(a)

['Hari', 'ram', 'shyam']

In [4]:
# tuple inside tuple

In [5]:
# t = ((1,2,3),(4,5,6),(7,8,9))

t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = int(input("Enter y = "))
    z = int(input("Enter z = "))
    
    t = t+((x,y,z),)
print(t)

Enter n = 3
Enter x = 12
Enter y = 13
Enter z = 45
Enter x = 32
Enter y = 65
Enter z = 78
Enter x = 98
Enter y = 52
Enter z = 45
((12, 13, 45), (32, 65, 78), (98, 52, 45))

In [6]:
t = ((12, 13, 45), (32, 65, 78), (98, 52, 45))
for i in t:
    print(list(i))

[12, 13, 45]
[32, 65, 78]
[98, 52, 45]

In [8]:
l = []
t = ((12, 13, 45), (32, 65, 78), (98, 52, 45))
for i in t:
    l.append(list(i))
print(l)

[[12, 13, 45], [32, 65, 78], [98, 52, 45]]

In [11]:
t = tuple()
l = [[12, 13, 45], [32, 65, 78], [98, 52, 45]]
for i in l:
    t = t+(tuple(i),)
print(t)

((12, 13, 45), (32, 65, 78), (98, 52, 45))

In [12]:
t = ((12, 13, 45), (32, 65, 78), (98, 52, 45))
t = list(t)
t

[(12, 13, 45), (32, 65, 78), (98, 52, 45)]

In [13]:
t.append((1,2,3))
t

[(12, 13, 45), (32, 65, 78), (98, 52, 45), (1, 2, 3)]

In [14]:
del t[0]
t

[(32, 65, 78), (98, 52, 45), (1, 2, 3)]